#left_menu{

   -fx-background-color: rgb(63,51,98);
}
#logo{

    -fx-start-margin: 0;
    -fx-background-image: url("img/unito-logo.png");
    -fx-background-size: cover;
}
#inbox_button:hover{

    -fx-background-color: rgb(56, 39, 97);
}
#login_button{

    -fx-background-color:  rgb(63,51,98);
    -fx-text-fill: white;
    -fx-font-size: 20px;
}


/*
Buttons CSS
*/
Button{

    -fx-background-color: rgb(78, 64, 121);
    -fx-text-fill: white;
    -fx-font-size: 25px;
}
#reply,#reply_all,#forward{

    -fx-font-size: 15px;
}
#new_email_button:pressed{

    -fx-text-fill: black;
}
#closeNewEmailButton,#closeReadEmailButton{

    -fx-background-color: none;

}
#newEmailView{

    -fx-background-color: #efefef;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);*/
}

.text-field-area {
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
}
#inbox_button:hover{

    -fx-text-fill: white;
}

TextField, TextArea{

    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
}
#receiver_email_field{

    -fx-border-color: none;
}

.text-field-area-error{
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}
#inbox_list{



    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


}
#readEmailView{

    -fx-background-color: #efefef;
}

#username{

    -fx-font-weight: bold;
}

/*
Alert pane
*/
#alert_pane{
    -fx-background-color: white;
}
#alert_text{

    -fx-font-weight: bold;
}
#close_alert_button{

    -fx-font-size: 13px;
}



#delete_email_button{

    -fx-font-size: 13px;
}