#left_menu{

   -fx-background-color: rgb(63,51,98);
}
#logo{

    -fx-start-margin: 0;
    -fx-background-image: url("img/unito-logo.png");
    -fx-background-size: cover;
}
#inbox_button:hover{

    -fx-background-color: rgb(56, 39, 97);
}
#inbox_button, .menu_options, #new_email_button,#sendButton{

    -fx-background-color:  rgb(63,51,98);
    -fx-text-fill: white;
    -fx-font-size: 25px;
    /*
    -fx-text-alignment: left;

    -
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: bold;*/
}

#new_email_button:pressed{

    -fx-text-fill: black;
}
#closeNewEmailButton{

    -fx-background-color: none;

}
#newEmailView{

    -fx-background-color: #dad9d9;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);*/
}

.text-field-area {
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
}
#inbox_button:hover{

    -fx-text-fill: white;
}

#receiver_email_field{

    -fx-border-color: none;
}